<!-- Head -->
{{define "head"}}
{{"user_index" | .Loc.Localize}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$data := .}}

<!-- Contextual bar -->
{{template "ctxbar" .}}
<!-- Contextual bar -->

<!-- Header -->
{{$title := "show_user" | .Loc.Localize}}
{{template "header" $title}}
<!-- Header -->

<!-- Form -->
{{template "item" .}}
<!-- Form -->

{{end}}
<!-- Body -->
