<!-- Head -->
{{define "head"}}
{{"edit_event" | .Loc.Localize}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$data := .}}

<!-- Contextual bar -->
{{template "ctxbar" .}}
<!-- Contextual bar -->

<!-- Header -->
{{$title := "edit_event" | .Loc.Localize}}
{{template "header" $title}}
<!-- Header -->

<!-- Form -->
{{template "form" .}}
<!-- Form -->

{{end}}
<!-- Body -->
